#nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#nav li {
  flex: 1;
  text-align: center;
}

#nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}
